.admin-wrapper {
  background-color: antiquewhite;
  padding: 1em;
  margin: 2em;
  border-radius: 30px;
  height: auto;
}

.admin-headline {
  font-size: 3em;
  font-family: 'Texturina', serif;
  margin: .5em;
  text-align: center;
}

.gen-classes {
  margin-left: .8em;
}

.date-time {
  font-size: 1.5em;
  margin-top: 1em;
  margin-left: 1em;
  font-weight: bold;
}

.user-info {
  display: flex;
  margin: .5em 10px
}

.user-info button {
  margin-left: 7px;
}

.user-name {
  font-size: .8em;
  font-weight: 300;
  margin-left: 7px;
  width: 100px;
}

