.headline-wrapper {
  margin-top: 1em;
  text-align: center;
}

.headline {
  font-family: 'Texturina', serif;
  font-size: 4em;
}

.home-image {
  width: 35em;
  height: 35em;
  margin: 1em;
}

.quote-wrapper {
  margin-top: 1em;
  text-align: center;
}

.quote {
  font-family: 'Texturina', serif;
  font-size: 1.5em;
}

.quote-author {
  font-family: 'Archivo', sans-serif;
  font-size: 1em;
}

.reservation-wrapper {
  margin-top: 1em;
  text-align: center;
}

.reservation-wrapper label {
  font-weight: bold;
  align-self: center;
}

.reservation-wrapper div {
  display: inline-flex;
  width: fit-content;
  margin: .5em;
  padding: .5em;
  border-radius: 50px;
  background-color: antiquewhite;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .50;
}