.headline-wrapper {
  margin-top: 1em;
  text-align: center;
}

.quote-wrapper {
  margin-top: 1em;
  text-align: center;
}

.reservation-wrapper {
  margin-top: 1em;
  text-align: center;
}

.reservation-wrapper label {
  font-weight: bold;
}