
.verify-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  width: 100vw;
  height: auto;
}

.verify-message {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 25px;
  background-color: antiquewhite;
}

.verify-content {
  padding-left: 12%;
  padding-right: 12%;
}

.verify-title {
  text-align: center;
  margin-bottom: .2em;
  font-size: 1.5em;
  color: rgb(220, 18, 18);
  font-weight: 800;
}


.verify-hye {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
  font-family: 'Texturina', serif;
  color: rgb(34, 34, 34);
  font-weight: 800;
}