
.verify-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  width: 100vw;
  height: auto;
}

.verify-content {
  padding-left: 12%;
  padding-right: 12%;
}

.verify-title {
  text-align: center;
  margin-bottom: .2em;
  font-size: 1em;
  color: rgb(220, 18, 18);
  font-weight: 800;
}


.verify-hye {
  text-align: center;
  margin-bottom: 1.3em;
  font-size: 2em;
  font-family: 'Texturina', serif;
  color: rgb(34, 34, 34);
  font-weight: 800;
}