.single-class {
  display: inline-flex;
  width: 250px;
  height: 80px;
  margin: .5em;
  padding: .7em .5em .7em 1em;
  border-radius: 50px;
  background-color: antiquewhite;
}

.single-class label {
  font-size: large;
  align-self: center;
}
